:root {
  /* font weight */
  --primary-fontWeight: 700;
  --secondary-fontWeight: 500;
  /* color */
  --main-fon-color: #fff;
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --section-color: #f5f4fa;
  /* spacing */
  --primary-spacing: 0.03em;
  --secondary-spacing: 0.02em;
  --accent-spacing: 0.06em;
}

body {
  background-color: var(--main-fon-color);
  color: var(--primary-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* header */

.header {
  font-weight: 500;
}

.logo {
  color: var(--primary-color);
  font-family: 'Raleway';

  font-weight: var(--primary-fontWeight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--primary-spacing);
  text-decoration: none;
}

.site-nav {
}

.logo span {
  color: var(--accent-color);
}

.nav-list {
  line-height: 16px;
  letter-spacing: var(--secondary-spacing);
}

.nav-item {
  list-style-type: none;
}
.nav-link:hover {
  color: var(--accent-color);
}

.nav-link {
  color: var(--primary-color);
}

.header-contacts a {
  color: var(--primary-color);
}

/* end header */

/* main hero */

.hero {
  background-color: var(--footer-color);
}

.hero-titel {
  color: var(--main-fon-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: var(--accent-spacing);
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--main-fon-color);

  font-weight: var(--primary-fontWeight);
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: var(--accent-spacing);
}

/* main benefits */

.benefits-item {
  list-style-type: none;
}

.benefits-titel {
  font-weight: var(--primary-fontWeight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--primary-spacing);
  text-transform: uppercase;
}

.benefits-text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: var(--primary-spacing);
}

/* end benefits */

.projects-titel {
  font-weight: var(--primary-fontWeight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--primary-spacing);
}

.projects-list {
  list-style-type: none;
}

/* end projects */

/* team */
